

<header>
    <div class="header-content">
        <img src="assets/images/logo.png" alt="Logo de la Empresa" class="logo">
        <h1>Cotransmeba</h1>
        <nav>
            <ul class="nav-links">
                <li><a href="#" onclick="toggleMenu()">Inicio</a></li>
                <li><a href="#about" onclick="toggleMenu()">Sobre Nosotros</a></li>
                <li><a href="#region" onclick="toggleMenu()">Región</a></li>
                <li><a href="#services" onclick="toggleMenu()">Servicios</a></li>
                <li><a href="#contact" onclick="toggleMenu()">Contacto</a></li>
            </ul>
        </nav>
        <div class="menu-toggle" onclick="toggleMenu()">&#9776;</div> <!-- Botón de menú -->
    </div>
</header>
