<header>
    <div class="header-content">
        <img src="../assets/images/logo.png" alt="Logo de la Empresa" class="logo">
        <h1>Cotransmeba</h1>
         <nav>
            <ul class="nav-links">
                <li><a href="#">Inicio</a></li>
                <li><a href="#about">Sobre Nosotros</a></li>
                <li><a href="#region">Región</a></li>
                <li><a href="#services">Servicios</a></li>
                <li><a href="#contact">Contacto</a></li>
            </ul>
        </nav>
        <div class="menu-toggle" onclick="toggleMenu()">&#9776;</div>
    </div>
</header>    